name: Static Analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cppcheck

      - name: Build
        run: make CFLAGS="-O3 -Wall -Wextra -Werror -Wpedantic -Wno-error=unused-result"
      - name: cppcheck
        run: cppcheck --enable=warning,performance,portability --error-exitcode=1 --suppress=missingIncludeSystem -I . .
      - name: check style
        run: clang-format -style=Google -n *.c *.h
